<!DOCTYPE html>
<html lang="en">

 <head>
 	<meta charset="utf-8">
    <title>Data Information</title>
    <link rel="stylesheet" type="text/css" href="style.css">
 </head>

 <body>

 	<!-- The header -->
    <div class="header">
        <a href="profileView"><img src="../assets/home.png" id="home-logo"></a>
        <div class="buy-sell">
            <div class="header-buy">Buy</div>
            <label class="switch">
                <input type="checkbox" id="checkbox" checked=False>
                <span class="slider round"></span>
            </label>
            <div class="header-sell">Sell</div>
        </div>
        <script type="text/javascript" src="header.js"></script>
    </div>

    <div class="commissionInfo">
        <div class="datasetProfileDescription">
            <img src="{{information.main_image}}" id="cifar">
            <div class="datasetNameDescription">
                <h2> {{information.title}} </h2>
                <p> {{information.description}} </p>
            </div>
        </div>
        <div class="datasetPreview">
            <img src="{{information.comp_image_1}}" class="datasetPreviewImg">
            <img src="{{information.comp_image_2}}" class="datasetPreviewImg">
            <img src="{{information.comp_image_3}}" class="datasetPreviewImg">
        </div>
        <div class="datasetStats">
            <table id="dataStats">
                <tr>
                    <td><b>Price:</b></td>
                    <td> {{information.price}} </td>
                </tr>
                <tr>
                    <td><b>Quality:</b></td>
                    <td>{{information.quality}}</td>
                </tr>
                <tr>
                    <td><b>User Credibility:</b></td>
                    <td>{{information.credibility}}</td>
                </tr>

                <tr>
                    <td><b>Citations</b></td>
                    <td>{{information.citations}}</td>
                </tr>

            </table>
            <input id="contact" type='submit' value='Contact'/>
        </div>
    </div>
 </body>
</html>
